/*
    -------------------------
    Modal gallery
    -------------------------
*/
.view-gallery-text {
    color: #007bff; /* Bootstrap default link color */
    text-decoration: underline; /* Underline to indicate it's clickable */
    cursor: pointer; /* Changes the cursor to the 'hand' icon when hovering over the text */
    /* Add padding for a larger clickable area if necessary */
    padding: 2px; /* Optional: Adjust padding to your preference */
    /* Optional: Add hover effect to mimic a real link */
}
.view-gallery-text:hover {
    color: #0056b3; /* Darker shade on hover to give feedback */
    text-decoration: none; /* Removing the underline on hover can be a nice effect */
    /* Optional: you could also change the background color slightly on hover for more feedback */
    background-color: rgba(0, 0, 0, 0.05); /* Very light background color on hover */
}
/* Make video responsive */
.video-responsive {
    width: 100%;
    height: auto;
    max-width: 100%;
}
.modal-dialog {
    max-width: 90%; /* Modal width should not exceed 90% of the screen width */
    margin: 30px auto; /* This will center the modal horizontally */
}
.modal-content {
    overflow: hidden; /* In case the content is bigger than the modal */
}
.modal-body {
    max-height: calc(100vh - 60px); /* Adjust the '60px' value based on your modal header/footer */
    overflow-y: auto; /* Makes the modal body scrollable */
}
/*
    --------------------
    Slider
    --------------------
*/
.slider-container input[type="range"] {
    width: 80%;
    margin: 0 auto;
}
/*
    --------------------
    Cards
    --------------------
*/
/* Apply grid to the container */
.ship-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Adjust '150px' as needed */
    gap: 10px; /* Adjust gap between items */
    padding: 10px; /* Padding inside the container */
}

/* Card styles */
.card {
    border: none;
    border-radius: 0.25rem;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    background-color: #ffffff; /* Light grey background, change as needed */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card:hover {
    transform: scale(1.03);
}

/* Image Wrapper Styles */
.image-wrapper {
    position: relative;
    width: 100%; /* Full width */

    background-image: linear-gradient(90deg, rgba(216, 216, 216, 0.5) 1px, transparent 1px),
                      linear-gradient(rgba(216, 216, 216, 0.5) 1px, transparent 1px);
    background-size: 50px 50px;
    background-position: center center;
}

/* Ship Image Styles */
.card-img-top {
    width: 100%; /* Full width of the card */
    height: 210px; /* Adjust height to maintain the aspect ratio */
    object-fit: contain; /* Ensures the entire image is visible */
}

/* Overlay for Destroyed Ships */
.overlay {
    display: none; /* Initially hidden, only shown for 'down' status */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.card[data-status="down"] .overlay {
    display: block;
    background: linear-gradient(to bottom, rgba(255, 0, 0, 0.8), rgba(255, 0, 0, 0)); /* Fire-like gradient */
}

/* Card Body Styles */
.card-body {
    padding: 1rem;
    text-align: center;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between; /* Aligns title/date at the top, button at the bottom */
    align-items: center; /* Centers the button horizontally */
}

/* Ship Name Styles */
.card-title {
    font-size: 1rem;
    color: #333;
    margin-bottom: 0.25rem;
}

/* Date Text Styles */
.card-text {
    font-size: 0.9rem;
    color: #dc3545;
    margin-bottom: 0.5rem;
}

/* Button Styles to Look Like Text */
.btn-link {
    font-size: 0.9rem;
    color: #007bff;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    align-self: flex-end;
    text-decoration: underline;
}

.btn-link:hover,
.btn-link:focus {
    color: #0056b3;
    text-decoration: none; /* Optional: toggle underline on hover */
    outline: none;
}

/* Responsive adjustments as needed for smaller screens */
@media (max-width: 768px) {
    .container {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Even smaller cards on mobile */
    }
}
